@{
    ViewData["Title"] = "Privacy Policy";
    ViewData["message"] = "Sales Web MVC Appp from C# Course";
}
<h1>@ViewData["Title"]</h1>
<h3>@ViewData["message"]</h3>

<p>Use this page to detail your site's privacy policy.</p>
